
<!DOCTYPE html>
<html>
<head>
<title>Dish of the Week</title>
</head>
<body>
<h1>Dish of the Week</h1>
<p>
Welcome to the Dish of the Week website! Here, you can vote for your favorite dish, see the current dish of the week, and order it online.
</p>
<p>
The dish of the week is chosen by popular vote. Every week, we put up a poll of dishes, and the dish with the most votes becomes the dish of the week.
</p>
<p>
To vote for your favorite dish, <a href="/poll">click here</a>.
</p>
<p>
To see the current dish of the week, <a href="/menu">click here</a>.
</p>
<p>
To order the dish of the week online, <a href="/menu">click here</a>.
</p>
<p>
If you don't have an account, you can <a href="/signup">sign up</a> or <a href="/login">log in</a> using your Google account.
</p>
</body>
</html>


